:root {
  --primary-green: #007172;
  --primary-red: #d94f04;
  --secondary-yellow: #fdfcdc;
  --secondary-green: #cbdad5;
  --secondary-red: #ffe1dd;
}

/* HERO SECTION*/

.hero-section {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 4rem;
  padding-bottom: 3rem;
  width: 75%;
}

.hero-section h1 {
  color: var(--primary-green);
  padding-bottom: 1rem;
  font-weight: 600;
}

.hero-section h4 {
  padding-bottom: 1rem;
  width: 75%;
}

.hero-section p {
  font-weight: 600;
  color: var(--primary-red);
}

.hero-section ul {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.hero-section li {
  font-weight: 600;
}

.hero-section span {
  font-weight: 600;
}

.landing-hero-image-div {
  width: 100%;
  height: 12rem;
  background-image: url("../images/data-security-hero-img.png");
  background-size: contain;
}

.hero-maintext {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.span-sep {
  padding-left: 1rem;
  padding-right: 1rem;
}

#scroll-down {
  cursor: pointer;
}

/* Info Div Sections */

.course-info-div-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  margin-bottom: 4rem;
  padding: 4rem 8rem;
  justify-content: center;
  align-items: center;
}

.CID-column-1 {
  grid-column: 1 / 3;
  text-align: center;
}

.course-info-div-one h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}

.CID-column-2 {
  background-color: var(--secondary-green);
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.CID-column-2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.CID-column-2 p {
  width: 90%;
  line-height: 1.2rem;
}

.CID-column-3 img {
  width: 100%;
  height: auto;
}

.CID-column-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CID-column-3 h3 {
  font-weight: 500;
  color: var(--primary-green);
  text-align: center;
  padding-bottom: 1rem;
}

/* xAPi Info Section */
.full-width-info-section-container {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 4rem;
  margin-bottom: 7rem;
  column-gap: 3rem;
}

.full-width-info-section-container h1 {
  margin-bottom: 2rem;
  color: var(--primary-green);
}

.full-width-info-section-container p,
.full-width-info-section-container h1 {
  grid-column: 1/2;
}

/* .full-width-section-button-div {
  grid-column: 1/2;
  margin-top: 1rem;
} */

.full-width-section-image-div {
  grid-column: 2/2;
  grid-row: 1 / span 5;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-section-image-div img {
  width: 100%;
  height: auto;
}

/* Content Card Section  */

.slideshow-container {
  position: relative;
  margin: auto;
  padding-bottom: 6rem;
}

.slide-container {
  height: fit-content;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -44px;
  padding: 16px;
  color: var(--primary-red);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -44px;
  padding: 16px;
  color: var(--primary-red);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--primary-green);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--secondary-green);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--primary-green);
}

.slide-show-dots {
  padding-bottom: 4rem;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* CONTENT CARD GLOBAL */
.content-card {
  grid-column: 1/2;
  grid-template-columns: 1.5fr 1fr;
  display: grid;
  width: 80%;
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.content-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.content-card h2 {
  grid-column: 1 / 2;
  padding-bottom: 1rem;
}

.content-card p {
  grid-column: 1/2;
  padding-bottom: 1rem;
}

.content-card ul {
  grid-column: 1/2;
  padding-left: 1rem;
}

.content-card-button-div {
  grid-column: 2 / 3;
  grid-row: 2 / span 6;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 50%;
  right: 0;
}

/* CONTENT CARD #1 */

.card-one {
  background-color: var(--secondary-green);
}

/* CONTENT CARD #2 */

.card-two {
  background-color: var(--secondary-red);
}

@media (max-width: 600px) {
  .hero-section {
    width: 100%;
    padding: 6rem 1rem 3rem 1rem;
  }
  .hero-section h1 {
    text-align: center;
  }
  .hero-section h4 {
    text-align: center;
    width: 100%;
  }
  .hero-section p {
    width: 100%;
    margin-left: 1rem;
    padding-top: 1rem;
  }
  .hero-section ul {
    margin-left: 1rem;
  }

  .next-steps-landing-page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
    padding-top: 1rem;
  }

  .landing-hero-image-div {
    display: none;
  }

  .course-info-div-one {
    grid-template-columns: 1fr;
    align-items: flex-start;
    row-gap: 1rem;
    width: 100%;
    padding: 0;
    background-color: var(--secondary-green);
    padding: 1.5rem;
  }
  .course-info-div-one h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: start;
  }
  .CID-column-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .CID-column-2 {
    grid-column: 1 / 2;
    padding: 0;
    border-radius: none;
    box-shadow: none;
    transition: none;
    width: 100%;
  }
  .CID-column-2 h3 {
    font-size: 1rem;
    color: black;
  }
  .CID-column-3 {
    grid-row: 2 / 3;
  }
  .CID-column-3 img {
    width: 75%;
    padding: 1rem 0;
  }

  .full-width-info-section-container {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 8rem 1rem;
    margin: 0;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 0;
  }

  .full-width-info-section-container h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    width: 100%;
  }
  .full-width-info-section-container h4 {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .full-width-section-image-div {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-top: 1rem;
    margin: auto;
  }
  .full-width-section-image-div img {
    width: 70%;
    margin: auto;
  }

  .full-width-info-section-container p {
    padding-top: 1rem;
    text-align: center;
  }

  .slideshow-container {
    display: none;
  }
}
